body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.marker {
    transform: translate(-50%, -100%);
    
}

.marker.yellow path {
    fill: #FFD814;
}

.marker.red path {
    fill: red;
}

.popup {
    max-width: 200vw;
    padding: 1rem;
    transition: 850ms;
}

.mapboxgl-popup-close-button {
    width: 2rem;
    font: 400 25px Arial;
}

.mapboxgl-popup-content {
    margin: 0;
    display: block;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 0.9rem;
    color: black;
    background-color: white;
    box-shadow: 0 2px 4px rgba(53, 43, 43, 0.3);
    font-family: 'Droid Sans';
    border: 0.5px solid black;
}

.popup img {
    height: 100%;
    width: 15rem;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: 0.5px solid black;
    border-radius: 0.9rem;
}

.weather {
    width: 15rem;
    text-align: justify;
    margin: 0 auto;
    display: block;
}

.panel {
    position: absolute;
    padding-top: 5rem;
    right: 0;
    max-width: 20vw;
    border-radius: 0.9rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(53, 43, 43, 0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #000000;
    text-transform: uppercase;
    outline: none;
    font-family: 'Droid Sans';
    border: 0.5px solid black;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    color: #08f;
}

.hr {
    border: 1px solid black;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
    margin: 0.5rem 0.0;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    position:absolute;
    right: 0;
    padding-right: 17rem;
    padding-top: 1.4rem;
}

.themeToggle {
    position: absolute;
    right: 0;
    padding-right: 18rem;
    padding-top: 1.4rem;
}

.commute {
    margin: 0.5rem 0.0;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


