body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



.marker {
    transform: translate(-50%, -100%);
    
}

.marker.yellow path {
    fill: #FFD814;
}

.marker.red path {
    fill: red;
}

.popup {
    max-width: 200vw;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    transition: 850ms;
}

.mapboxgl-popup-close-button {
    width: 2rem;
    font: 400 25px Arial;
}

.mapboxgl-popup-content {
    margin: 0;
    display: block;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 0.9rem;
    color: black;
    background-color: #90DFFE;
    box-shadow: 0 0 2px 2px rgba(53, 43, 43, 0.3);
    font-family: 'Droid Sans';
}

.popup img {
    height: 100%;
    width: 15rem;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: 0.1px solid black;
    border-radius: 0.9rem;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    box-shadow: 0 0 2px  rgba(53, 43, 43, 0.3);
    border-bottom-color: #90DFFE;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #90DFFE;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #90DFFE;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #90DFFE;
    }

.weather {
    width: 15rem;
    text-align: justify;
    margin: 0 auto;
    display: block;
}

.panel {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 50vw;
    border-radius: 0.6rem;
    background: darkgoldenrod;
    box-shadow: 0 0 1.5px 1.5px rgba(53, 43, 43, 0.3);
    padding: 0.6rem 0.5rem 0.1rem 0.5rem;
    margin: 1rem;
    line-height: 1;
    color: white;
    outline: white;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.panelItem{
    /* overflow: auto; */
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.panel .dropdown{
    height: 2rem;
    border-radius: 6px;
    border: 0.5px solid black;
    text-align-last: center;
    background-color: white;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.panel .inputButton{
    background-color: white;
    height: 2rem;
    color: black;
    outline: black;
    border: 0.5px solid black;
    cursor: pointer;
    width: 100%;
    text-align-last: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 6px;
}


.btn {
    cursor: pointer;
}

.btn:hover {
    color: #08f;
}

.hr {
    border: 1px solid black;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
    margin: 0.5rem 0.0;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    position:absolute;
    left: 0;
    padding-left: 1.4rem;
    padding-top: 4.5rem;
}

.themeToggle {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1.2rem;
    padding-top: 4rem;
}

.commute {
    margin: 0.5rem 0.0;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@media only screen and (max-width: 500px) {
    .panelItem {
        height: 15.2vh;
        /* overflow: auto; */
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    .panel{
        padding: 0.6rem 0.4rem 0.4rem 0.4rem;
    }
  }

